body
{
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
header
{
    width: 100%;
    height: 100px;
    background-color: rgb(200, 200, 200);
    padding: 20px;
}
#logo
{
    height: 40px;
    width: 40px;
}
#menu
{
    font-size: 18px;
}

.menu_column
{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}
